altgraph==0.17.4
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
attrs==24.2.0
bcrypt==3.1.7
blinker==1.8.2
Brlapi==0.7.0
certifi==2019.11.28
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==8.1.7
colorama==0.4.3
command-not-found==0.3
contourpy==1.1.1
cryptography==2.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.16
deepdiff==8.0.1
defer==1.0.6
dell-recovery==0.0.0
distlib==0.3.0
distro==1.4.0
distro-info==0.23+ubuntu1.1
duplicity==0.8.12.0
entrypoints==0.3
fasteners==0.14.1
filelock==3.0.12
flask==3.0.3
fonttools==4.54.1
future==0.18.2
httplib2==0.14.0
idna==2.8
importlib-metadata==8.5.0
importlib-resources==6.4.5
itsdangerous==2.2.0
jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==18.0.1
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libevdev==0.5
libvirt-python==6.1.0
lockfile==0.12.2
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.1.5
matplotlib==3.7.5
monotonic==1.5
more-itertools==4.2.0
netifaces==0.10.4
networkx==3.1
numpy==1.24.4
oauthlib==3.1.0
olefile==0.46
orderly-set==5.2.2
packaging==24.1
PAM==0.4.2
pandas==2.0.3
paramiko==2.6.0
pexpect==4.6.0
Pillow==7.0.0
pkgutil-resolve-name==1.3.10
progressbar==2.5
protobuf==3.6.1
pycairo==1.16.2
pycups==1.9.73
Pygments==2.3.1
PyGObject==3.36.0
PyICU==2.4.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==3.1.4
pyRFC3339==1.1
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
pytz==2024.2
pyudev==0.21.0
pyxdg==0.26
PyYAML==5.3.1
referencing==0.35.1
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
rpds-py==0.20.0
SecretStorage==2.3.1
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sos==4.5.6
systemd-python==234
termcolor==2.4.0
tk==0.1.0
tzdata==2024.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
virtualenv==20.0.17
wadllib==1.3.3
werkzeug==3.0.4
WoeUSB-ng==0.2.12
wxPython==4.0.7
xkit==0.0.0
zipp==3.20.2
